body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.splash-screen {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #ffffff; /* Change to your theme color */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  animation: fadeOut 1s ease-in-out 2.5s forwards;
}

@keyframes fadeOut {
  to {
    opacity: 0;
    visibility: hidden;
  }
}
